.header{
	/*background-color:rgb(135, 283, 182);*/
	border:5px solid #87cbb6;
	min-height: 100px;
	margin-bottom: 10px;
}
.banner{
	/*background-color:#3cb371;*/
	border: 5px solid #3cb371;
	min-height: 200px;
	margin-bottom: 10px;
}
.service{
	
	border: 5px solid #3cb371;
	min-height: 20px;
	margin-bottom: 10px;

	overflow:hidden;
}
.serve{
	
	background-color:#87cbb6;
	border:2px solid #ff0000;
	min-height: 180px;
    width: 11%;
	float: left;
	margin-left:8.5px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.service1{
	width:30%;
}
.service2{
	width:35%;
}
.service3{
	width:30%;
}
.banners{
	background-color:red;
	border:5px solid #3cb371;
	min-height: 200px;
	margin-bottom: 10px;
	clear:both;
}
.footer{
	background-color:blue;
	border:5px solid #3cb371;
	min-height: 200px;
	margin-bottom: 10px;
	overflow:hidden;
}
.serve{
	
	background-color:#87cbb6;
	border:2px solid #ff0000;
	min-height: 180px;
	width:12.5%;
	float:left;
	margin-left: 15%
	
}
.footer1{
	width:70%

	
}
.footer2{
	width:70%;

}
