.header{
	border: 2px solid brown;
    overflow: hidden;
    min-height:100px; 
}
.banner{
	border:2px solid brown;
	width: 65%;
	min-height: 200px;
	float: right;
	overflow: hidden;
}
.row{
	border: 2px solid brown;
	width: 65%;
	min-height: 300px;
	float: right;
	overflow: hidden;
}
.footer{
	border: 2px solid brown;
	min-height: 50px;
	width: 100%;
	overflow: hidden;
}