.header{
	border: 2px solid black;
	min-height: 80px;
	background-color: lightgray;
	overflow: hidden;
}
.banner{
    border: 2px solid black;
	min-height: 200px;
	background-color: blue;
	overflow: hidden;
}
.services{
    border: 2px solid green;
    min-height: 200px;
    padding: 50px;
    overflow: hidden;
}
.service1{
    border: 1px solid green;
    width: 30%;
    min-height: 180px;
    float:left;
    margin-left: 10px;
    overflow: hidden;
}
.side_bar{
	border: 2px solid black;
	/*min-height: 200px;*/
	overflow: hidden;
}
.class1{
	border: 2px solid orange;
	width: 30%;
	min-height: 200px;
	float: left;
}
.class2{
	border: 2px solid orange;
	width: 69%;
	min-height: 200px;
	float: left;
}

.footer{
	border: 2px solid green;
    min-height: 50px;
}